*{

    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    
}

.banner{
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(images/img1.jpg);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
}


.navbar{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #ffffff;
    align-items: center;
    padding: 10px 20px;
    color: rgb(6, 44, 80);
    height: auto;
    position: fixed;
}

.logo{
    display:flex;
    align-items: center;
}

.logo img{
    width: 70px;
    height: 70px;
}

.navbar ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.navbar button{
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 50px;
    background-color:rgb(10, 78, 141);
    color: #ffffff;
}

.banner_text{
    position: absolute;
    padding-left: 40px;
    top: 40%;
    color: #ffffff;
    
}

.banner_text h2{
    font-weight: bold;
    line-height: 50px;
}

.banner_text h1{
    font-weight: bold;
    line-height: 50px;
    font-size: 60px;
    letter-spacing: 5px;
    margin-bottom: 20px;
}

.banner_text button{
    width: 200px;
    height: 40px;
    margin-top: 30px;
    border: 2px solid #ffffff;
    border-radius: 25px;
    color: #ffffff;
    background:transparent;
    cursor: pointer;
}

.content1{
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    text-align: left;
}

.c1, .c2, .c3 {
    flex: 1; /* Equal column width */
    padding: 20px;
    height: 200px;
    color: #ffffff;
    padding: 30px 70px;
}

.content1 ul{
    list-style: none;
}

.content1 ul li{
    margin-bottom: 10px;
} 



.content1 .c1{
    display: flex;
    flex-direction: column;
    gap: 15px;

    background-color: #9c98ee;
}

.content1 .c2{
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #8e8af4;
}

.content1 .c3{
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #7d77f7;
}

.content1 h1{
    font-size: 25px;
}

.content1 .c ul li{
    padding-bottom: 10px;
}

.our_services{
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    text-align: center;
}

.our_services h2{
    font-size: 30px;
    padding-bottom: 20px;
}







